<script>
import JamesArthur_EmptySpace from './JamesArthur-EmptySpace.md'
import { useRouter } from 'vue-router'
import { onBeforeMount, ref, watch } from 'vue'
export default {
	name: 'KKuPop',

	setup() {
		const $router = useRouter()
		const markdownPage = ref()

		const setMarkdown = async () => {
			const pathParts = $router.currentRoute.value.path.split('/')
			switch (pathParts[3]) {
				case 'JamesArthur_EmptySpace':
					markdownPage.value = await JamesArthur_EmptySpace
					break

				default:
					markdownPage.value = await JamesArthur_EmptySpace
					break
			}
		}

		onBeforeMount(() => {
			setMarkdown()
		})

		watch($router.currentRoute, () => {
			setMarkdown()
		})
		// if()

		return { markdownPage }
	},
}
</script>

<template>
	<q-page padding>
		<q-header class="bg-glass">
			<div class="max-w1200 q-pa-md text-center text-dark">
				<iframe
					width="100%"
					height="290"
					src="https://www.youtube.com/embed/A8HZUrnQezc"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				/>
			</div>
		</q-header>
		<div class="row bg-glass">
			<!-- 메인 -->
			<div class="col-12 text-center text-body1">
				<q-markdown :src="markdownPage" />
			</div>
		</div>
		<q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
			<q-btn dense label="위로" color="sand" text-color="tree" size="sm" />
		</q-page-scroller>
	</q-page>
</template>

<style lang="sass" scoped></style>
