<script>
import { onBeforeMount, onUpdated, ref } from 'vue'
export default {
	name: 'KKuPop',
	setup() {
		const items = ref([])

		const tempItems = [
			{ musician: 'James Arthur', title: 'Empty Space', src: 'https://www.youtube.com/embed/A8HZUrnQezc' },
			{
				musician: 'Grace VanderWaal',
				title: 'Waste My Time',
				src: 'https://www.youtube.com/embed/YbUJ7oiWYBA',
			},
			{ musician: 'LANY', title: 'dna', src: 'https://www.youtube.com/embed/EDOzUWDAeQA' },
			{ musician: 'CLNGR', title: 'Something Defferent', src: 'https://www.youtube.com/embed/Pc5fWK7Ns3k' },
			{ musician: 'Loving Caliber', title: 'Homesick', src: 'https://www.youtube.com/embed/Xcf0bapeu5E' },
			{ musician: 'Loving Caliber', title: "I'll get over you", src: 'https://www.youtube.com/embed/9uhJ1DNveGA' },
			{ musician: 'Pink Sweat$', title: '17', src: 'https://www.youtube.com/embed/DCDw0cU8jbA' },
			{ musician: 'Anna Clendening', title: 'Love Song', src: 'https://www.youtube.com/embed/7RoK_KbLKmA' },
			{ musician: 'Jonas Brothers', title: 'I Believe', src: 'https://www.youtube.com/embed/d4lSke63WMI' },
			{ musician: 'Maroon 5', title: 'Beautiful Mistakes', src: 'https://www.youtube.com/embed/BSzSn-PRdtI' },
		]

		// 노래 섞기
		const shuffle = (arr) => {
			let numberArray = []
			// 배열 크기만큼 인덱스 만들기
			arr.forEach((item, index) => {
				numberArray.push(index)
			})

			// 랜덤 인덱스 만들기
			const randomArray = numberArray.sort(() => Math.random() - 0.5)

			// 랜덤 인덱스를 이용하여 서플 객체 만들기
			let newArray = []
			arr.forEach((item, index) => {
				const number = randomArray.shift()
				newArray[number] = item
			})

			return newArray
		}

		onUpdated(() => {
			items.value = shuffle(tempItems)
		})

		onBeforeMount(() => {
			items.value = shuffle(tempItems)
		})

		return { items }
	},
}
</script>

<template>
	<q-page padding>
		<div class="row q-col-gutter-md">
			<div class="col-12">
				<q-card class="my-card">
					<q-badge color="warning" transparent>장르</q-badge>
					<q-card-section class="text-center q-pa-none" style="overflow-y: scroll; height: 150px">
						<q-list>
							<q-item
								clickable
								v-ripple
								:active="link.one === menu.name"
								@click="link.oneFunction(menu)"
								active-class="text-negative"
								v-for="(menu, index) in menus"
								:key="index"
							>
								<q-item-section>{{ menu.name }}</q-item-section>
							</q-item>
						</q-list>
					</q-card-section>
				</q-card>
			</div>

			<template v-for="(item, index) in items" :key="index">
				<div class="col-3 col-xs-6 col-sm-4" v-if="item.src !== ''">
					<q-card class="my-card">
						<q-badge color="bondi-blue" transparent>{{ item.musician }}</q-badge>
						<q-card-section class="text-center q-pa-none">
							<iframe
								width="100%"
								height="auto"
								:src="item.src"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
							/>
							<div class="text-caption">{{ item.title }}</div>
						</q-card-section>
					</q-card>
				</div>
			</template>
		</div>
	</q-page>
</template>

<style lang="sass" scoped></style>
