<script>
import { ref, onBeforeMount, onUpdated } from 'vue'
export default {
	name: 'KKuHome',
	setup() {
		const items = ref([])
		const tempItems = [
			{ musician: 'James Arthur', title: 'Empty Space', src: 'https://www.youtube.com/embed/A8HZUrnQezc' },
			{
				musician: 'Grace VanderWaal',
				title: 'Waste My Time',
				src: 'https://www.youtube.com/embed/YbUJ7oiWYBA',
			},
			{ musician: 'LANY', title: 'dna', src: 'https://www.youtube.com/embed/EDOzUWDAeQA' },
			{ musician: 'CLNGR', title: 'Something Defferent', src: 'https://www.youtube.com/embed/Pc5fWK7Ns3k' },
			{ musician: 'Loving Caliber', title: 'Homesick', src: 'https://www.youtube.com/embed/Xcf0bapeu5E' },
			{ musician: 'Loving Caliber', title: "I'll get over you", src: 'https://www.youtube.com/embed/9uhJ1DNveGA' },
			{ musician: 'Pink Sweat$', title: '17', src: 'https://www.youtube.com/embed/DCDw0cU8jbA' },
			{ musician: 'Anna Clendening', title: 'Love Song', src: 'https://www.youtube.com/embed/7RoK_KbLKmA' },
			{ musician: 'Jonas Brothers', title: 'I Believe', src: 'https://www.youtube.com/embed/d4lSke63WMI' },
			{ musician: 'Maroon 5', title: 'Beautiful Mistakes', src: 'https://www.youtube.com/embed/BSzSn-PRdtI' },
		]

		// 노래 섞기
		const shuffle = (arr) => {
			let numberArray = []
			// 배열 크기만큼 인덱스 만들기
			arr.forEach((item, index) => {
				numberArray.push(index)
			})

			// 랜덤 인덱스 만들기
			const randomArray = numberArray.sort(() => Math.random() - 0.5)

			// 랜덤 인덱스를 이용하여 서플 객체 만들기
			let newArray = []
			arr.forEach((item, index) => {
				const number = randomArray.shift()
				newArray[number] = item
			})

			return newArray
		}

		onBeforeMount(() => {
			items.value = shuffle(tempItems)
		})

		onUpdated(() => {
			items.value = shuffle(tempItems)
		})

		return { items }
	},
}
</script>

<template>
	<q-page padding>
		<div class="row">
			<div class="col">
				<div class="row q-col-gutter-md">
					<!-- 메인 -->
					<div class="col-12 col-sm-6">
						<q-card class="my-card column justify-between" style="height: 360px">
							<div v-if="items.length !== 0">
								<q-badge color="negative" transparent>기분</q-badge>
								<q-card-section>
									<iframe
										width="100%"
										height="290"
										src="/videos/KKu_Ice_Brewing.mp4"
										title="YouTube video player"
										frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen
									/>
								</q-card-section>
							</div>
						</q-card>
						<q-card class="my-card column justify-between" style="height: 200px">
							<div>
								<q-badge color="warning" transparent>주절</q-badge>
								<q-card-section>
									<div class="text-h6">행복의 기준</div>
									<div class="text-subtitle2">자기만족</div>
								</q-card-section>
								<q-card-section>
									<div class="text-caption"> 커피 한잔과 조용한 휴식이 주는 행복. </div>
								</q-card-section>
							</div>
						</q-card>
					</div>

					<div class="col-12 col-sm-6">
						<!-- 카드1 -->
						<q-card class="my-card column justify-between" style="height: 140px">
							<div>
								<q-badge color="marina" transparent>KKu</q-badge>
								<q-card-section>
									<q-list>
										<q-item class="q-pa-none">
											<q-item-section avatar>
												<q-avatar>
													<q-img src="icons/favicon-32x32.png" />
												</q-avatar>
											</q-item-section>
											<q-item-section>
												<q-item-label>
													<span class="text-body1 text-weight-bold">KKu님</span> │
													<span class="text-body1 text-kkuisland-tag">Profile </span>
													<q-icon name="lock" size="xxs" color="kkuisland-tag" />
												</q-item-label>
												<q-item-label lines="2">kkuinsoo@gmail.com</q-item-label>
												<q-item-label lines="3">도전력 97 | 미소 89 │ 언행일치 91 </q-item-label>
											</q-item-section>
										</q-item>
									</q-list>
								</q-card-section>
							</div>
						</q-card>
						<!-- 카드2 -->
						<q-card class="my-card column justify-between" style="height: 220px">
							<div>
								<q-badge color="bondi-blue" transparent>Dev</q-badge>
								<q-card-section>
									<q-img src="banners/개발중.jpg" height="150px" fit="cover" />
								</q-card-section>
							</div>
						</q-card>
						<!-- 카드3 -->
						<q-card class="my-card column justify-between" style="height: 200px">
							<div>
								<q-badge color="info" transparent>Mind</q-badge>
								<q-card-section>
									<q-list>
										<q-item class="q-pa-none">
											<q-item-section>
												<q-item-label>작은 습관</q-item-label>
												<q-item-label caption lines="2">미래의 나는 현재의 작은 습관으로 만들어진다.</q-item-label>
											</q-item-section>
											<q-item-section side top>
												<q-item-label caption>습관</q-item-label>
												<q-icon name="trending_up" color="kkuisland-grey" />
											</q-item-section>
										</q-item>
										<q-item class="q-pa-none">
											<q-item-section>
												<q-item-label>긍정의 힘</q-item-label>
												<q-item-label caption lines="2">내 부족함을 타인의 부족함으로 돌리지 말자.</q-item-label>
											</q-item-section>
											<q-item-section side top>
												<q-item-label caption>긍정</q-item-label>
												<q-icon name="thumb_up_alt" color="kkuisland-grey" />
											</q-item-section>
										</q-item>
									</q-list>
								</q-card-section>
							</div>
						</q-card>
					</div>

					<div class="col-12">
						<q-card class="my-card column justify-between" style="height: 140px">
							<div>
								<q-badge color="tree" transparent>기회</q-badge>
								<q-card-section>
									<q-list>
										<q-item class="q-pa-none">
											<q-item-section>
												<q-item-label>기회를 잡는 건 꿈꾸는 사람이 아니다.</q-item-label>
												<q-item-label caption lines="2"> </q-item-label>
											</q-item-section>
										</q-item>
									</q-list>
								</q-card-section>
							</div>
						</q-card>
					</div>
				</div>
			</div>
		</div>
	</q-page>
</template>

<style lang="sass" scoped></style>
