// app global css in Sass form
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')

body
  font-family: 'IBM Plex Sans KR', sans-serif

body
  background-color: $glass
#q-app
  margin: 0 auto !important
  max-width: 1200px !important
.max-w1200
  max-width: 1200px !important
  margin: 0 auto !important

.q-toolbar 
  max-width: 1200px !important
  margin: 0 auto !important
/** 개인옵션 **/
.my-card
  box-shadow: none
  border-radius: 3px
  padding: 0
  padding-top: 10px
  background-color: $glass
  border-bottom: 1px solid $californian-coral
  // border-top: 2px solid $bondi-blue

.border-bottom
  border-bottom : 1px solid $grey-4

/* SCROLL */
.q-body--fullscreen-mixin, .q-body--prevent-scroll
  position: relative !important
/* 스크롤바의 width */
::-webkit-scrollbar
  width: 5px
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-track 
  background-color: #f0f0f0
/* 스크롤바 색 */
::-webkit-scrollbar-thumb
  background: linear-gradient(to bottom, #1697bf, #62b7ac)
/* 위 아래 버튼 (버튼 없애기를 함) */
::-webkit-scrollbar-button 
  display: none
/* 스크롤바 없애기 */
// body
//   -ms-overflow-style: none
// ::-webkit-scrollbar
  // display: none
/*특정 부분 스크롤바 없애기*/ 
// .box
//   -ms-overflow-style: none
// .box::-webkit-scrollbar
//   display:none

/** 컬러 설정 **/
.text-glass
  color: $glass
.text-chill
  color: $chill
.text-californian-coral
  color: $californian-coral
.text-bondi-blue
  color: $bondi-blue
.text-marina
  color: $marina
.text-sand
  color: $sand
.text-tree
  color: $tree

.bg-glass
  background-color: $glass
.bg-chill
  background-color: $chill
.bg-californian-coral
  background-color: $californian-coral
.bg-bondi-blue
  background-color: $bondi-blue
.bg-marina
  background-color: $marina
.bg-sand
  background-color: $sand
.bg-tree
  background-color: $tree