<script>
import { reactive, onMounted, onUpdated } from 'vue'
import { useRouter } from 'vue-router'

export default {
	name: 'MainLayout',
	setup() {
		const $router = useRouter()

		const retpo = reactive({
			name: '',
			uploader: false,
			// checkFileType: (files) => {
			// 	console.log('files ->', files)
			// 	return files.filter((file) => file.name.indexOf('.md') > 0)
			// },
			// onRejected: (rejectedEntries) => {
			// 	console.log('rejectedEntries ->', rejectedEntries)
			// 	$q.notify({
			// 		type: 'negative',
			// 		message: `${rejectedEntries.length} file(s) did not pass validation constraints`,
			// 	})
			// },
		})

		// 페이지 이동
		const goToPage = (routeName) => {
			$router.push(routeName)
		}
		// 페이지 초기화
		const pageInitialization = (po) => {
			po.name = 'pageObject'
		}

		onMounted(() => {
			pageInitialization(retpo)
		})

		onUpdated(() => {
			pageInitialization(retpo)
		})

		return { retpo, goToPage }
	},
}
</script>

<template>
	<q-layout view="lHh lpR lFf" class="">
		<q-footer>
			<div class="bg-glass">
				<div class="q-pa-sm q-pr-md row items-center justify-end bg-sand text-tree max-w1200">
					<div class="cursor-pointer non-selectable q-px-sm" @click="goToPage('/dev')"> 꾸벨롶 </div>
					<div class="cursor-pointer non-selectable q-px-sm" @click="goToPage('/dev/jwt')"> 꾸API </div>
					<div class="cursor-pointer non-selectable q-px-sm" @click="goToPage('/music/pop')"> 꾸감성 </div>
					<div class="cursor-pointer non-selectable q-px-sm" @click="goToPage('/')"> 꾸섬 </div>
				</div>
			</div>

			<div class="bg-glass">
				<q-bar class="bg-tree text-sand max-w1200">
					<q-btn dense flat icon="list" />
					<q-btn dense flat icon="search" />
					<div>9:41</div>
					<q-btn dense flat icon="wifi" />
					<q-btn dense flat icon="battery_charging_full" />
					<q-btn dense flat icon="airplay" class="gt-xs" />
					<q-space />
					<div class="text-weight-bold"> kkuisland </div>
					<q-btn dense flat icon="fas fa-apple-alt" to="/" />
				</q-bar>
			</div>
		</q-footer>

		<q-page-container>
			<router-view />
		</q-page-container>
	</q-layout>
	<q-dialog v-model="retpo.uploader" persistent>
		<q-card class="my-card">
			<q-card-section>
				<q-uploader style="max-width: 300px" url="http://localhost:3000/api/sample/upload" multiple />
			</q-card-section>
			<q-card-section>
				<a
					href="http://localhost:3000/public/images/%EC%8B%A0%EC%B2%AD.png"
					download="http://localhost:3000/public/images/%EC%8B%A0%EC%B2%AD.png"
					>dasdf</a
				>
			</q-card-section>
		</q-card>
	</q-dialog>
</template>

<style lang="sass" scoped></style>
