<script>
import { reactive } from 'vue'
import { useStore } from 'src/store'
// import { SampleInterFace } from 'kku'

export default {
	name: 'DevBoard',
	setup() {
		const $store = useStore()
		const items = reactive([
			{ id: 1, view: false },
			{ id: 2, view: false },
			{ id: 3, view: false },
			{ id: 4, view: false },
			{ id: 5, view: false },
			{ id: 6, view: false },
			{ id: 7, view: false },
			{ id: 8, view: false },
			{ id: 9, view: false },
		])
		console.log('store.getters ->', $store.getters['sample/sampleGetter'])
		return { items }
	},
}
</script>

<template>
	<q-page>
		<!-- 버튼 카드 -->
		<div class="row q-col-gutter-md q-mt-sm">
			<template v-for="(item, index) in items" :key="index">
				<div class="col-12 col-sm-4 col-md-3 col-lg-2">
					<q-btn flat padding="0" class="full-width" @click="items[index].view = !items[index].view">
						<q-card :class="'my-card bg-kku-' + (index % 2 === 0 ? '2' : '3') + ' full-width'">
							<q-img :src="'/images/' + (index % 2 === 0 ? 'miso' : 'kkuisland') + '.jpg'" height="120px" />
							<q-card-section class="q-pa-none">
								<div class="text-h6">KKu</div>
								<div class="text-subtitle2">by Mr.KKu</div>
							</q-card-section>
							<q-card-section> 구인수 샘플 카드 </q-card-section>
						</q-card>
					</q-btn>
				</div>
				<!-- 해당 버튼 다이얼 로그 -->
				<q-dialog v-model="items[index].view">
					<q-card class="my-card">
						<q-img src="https://cdn.quasar.dev/img/chicken-salad.jpg" />
						<q-card-section>
							<q-btn
								fab
								color="primary"
								icon="place"
								class="absolute"
								style="top: 0; right: 12px; transform: translateY(-50%)"
							/>
							<div class="row no-wrap items-center">
								<div class="col text-h6 ellipsis"> Cafe Basilico {{ item.id }} </div>
								<div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
									<q-icon name="place" />
									250 ft
								</div>
							</div>
							<q-rating :model-value="index % 2 === 0 ? 3 : 4" :max="5" size="32px" />
						</q-card-section>
						<q-card-section class="q-pt-none">
							<div class="text-subtitle1"> $・Italian, Cafe </div>
							<div class="text-caption text-grey"> Small plates, salads & sandwiches in an intimate setting. </div>
						</q-card-section>
						<q-separator />
						<q-card-actions align="right">
							<q-btn v-close-popup flat color="kku-4" label="Reserve" />
							<q-btn v-close-popup flat color="kku-2" round icon="event" />
						</q-card-actions>
					</q-card>
				</q-dialog>
			</template>
		</div>
	</q-page>
</template>

<style lang="sass" scoped></style>
