<script>
import { computed, reactive } from 'vue'
import { useStore } from 'vuex'

import { ApiSample } from 'src/api'

export default {
	name: 'DevJwt',
	setup() {
		const $store = useStore()
		$store.dispatch('sampleStore/setOne', 'ket')

		const retpo = reactive({
			title: 'JWT 요청',
		})

		const requestJwt = async () => {
			const responseData = await ApiSample.jwt('/api/sample/jwt')
			console.log('dfsf', responseData.value)
			await $store.dispatch('sampleStore/setOne', responseData.value)
			console.log('%c> responseData ', 'background: #222; color: #bada55; font-size: 24px;', responseData.value)
		}
		const replyJwt = async () => {
			const responseData = await ApiSample.check()
			console.log('%c> responseData ', 'background: #222; color: #bada55; font-size: 24px;', responseData.value)
			const sampleStore = computed(() => $store.getters['sampleStore/info'])
			console.log('%c> store ', 'background: #222; color: #bada55; font-size: 24px;', sampleStore.value)
		}
		return { retpo, requestJwt, replyJwt }
	},
}
</script>

<template>
	<q-page padding>
		<div class="row">
			{{ retpo.title }}
		</div>

		<q-btn color="primary" label="JWT 요청" @click="requestJwt" />
		<q-btn color="primary" label="JWT 응답" @click="replyJwt" />
	</q-page>
</template>

<style lang="sass" scoped></style>
