<script>
import { reactive, ref } from 'vue'
import mdQuasar from './markdown/Quasar.md'
import mdFastify from './markdown/Fastify.md'
import mdToLocaleString from './markdown/javascript/TolocaleString.md'

const menus = [
	{ name: 'Vue3', value: [{ name: 'Quasar', value: mdQuasar }] },
	{ name: 'Server', value: [{ name: 'Fastify', value: mdFastify }] },
	{ name: 'Docker', value: [1, 2, 3, 4, 5] },
	{ name: 'JavaScript', value: [{ name: '1000단위 콤마', value: mdToLocaleString }] },
]
export default {
	name: 'DevMain',

	setup() {
		const menusTwo = ref([])
		const markdownPage = ref()

		const link = reactive({
			one: 'vue',
			two: '1',
			oneFunction: (menu) => {
				link.one = menu.name
				menusTwo.value = menu.value
			},
			twoFunction: (menu) => {
				link.two = menu.name
				markdownPage.value = menu.value
			},
		})
		const retpo = reactive({
			title: 'DevMain',
		})

		return { retpo, link, markdownPage, menus, menusTwo }
	},
}
</script>

<template>
	<q-page padding>
		<div class="row q-col-gutter-md">
			<div class="col-6">
				<q-card class="my-card">
					<q-badge color="bondi-blue" transparent>개발</q-badge>
					<q-card-section class="text-center q-pa-none" style="overflow-y: scroll; height: 150px">
						<q-list>
							<q-item
								clickable
								v-ripple
								:active="link.one === menu.name"
								@click="link.oneFunction(menu)"
								active-class="text-negative"
								v-for="(menu, index) in menus"
								:key="index"
							>
								<q-item-section>{{ menu.name }}</q-item-section>
							</q-item>
						</q-list>
					</q-card-section>
				</q-card>
			</div>

			<div class="col-6">
				<q-card class="my-card">
					<q-badge color="marina" transparent>구분</q-badge>
					<q-card-section class="text-center q-pa-none" style="overflow-y: scroll; height: 150px">
						<q-list>
							<q-item
								clickable
								v-ripple
								:active="link.two === menu.name"
								@click="link.twoFunction(menu)"
								active-class="text-negative"
								v-for="(menu, index) in menusTwo"
								:key="index"
							>
								<q-item-section>{{ menu.name }}</q-item-section>
							</q-item>
						</q-list>
					</q-card-section>
				</q-card>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<q-card class="my-card">
					<q-badge color="californian-coral" transparent>확인</q-badge>
					<q-card-section class="q-pa-none q-mb-md">
						<q-markdown :src="markdownPage" style="height: 60vh" class="scroll-y" />
					</q-card-section>
				</q-card>
			</div>
		</div>
	</q-page>
</template>

<style lang="sass" scoped>
::-webkit-scrollbar
  width: 2px
::-webkit-scrollbar-thumb
  background: linear-gradient(to bottom, #00A651, #e1cdaf)
</style>
