<script>
'use strict'

import mdQuasar from './markdown/Quasar.md'
import mdFastify from './markdown/Fastify.md'
import { useRouter } from 'vue-router'
import { onBeforeMount, onUpdated, ref } from 'vue'
export default {
	name: 'SetQuasar',

	setup() {
		const $router = useRouter()
		const markdownPage = ref()

		const setMarkdown = async () => {
			const pathParts = $router.currentRoute.value.path.split('/')

			switch (pathParts[3]) {
				case 'fastify':
					markdownPage.value = await mdFastify
					break

				case 'quasar':
					markdownPage.value = await mdQuasar
					break

				default:
					markdownPage.value = await mdQuasar
					break
			}
		}

		// 새로고침 실행
		onBeforeMount(() => {
			setMarkdown()
		})

		// 페이지 전환 실행
		onUpdated(() => {
			setMarkdown()
		})

		return { markdownPage }
	},
}
</script>

<template>
	<q-page padding>
		<div class="row">
			<div class="col bg-glass">
				<div class="row q-col-gutter-md">
					<!-- 메인 -->
					<div class="col-12">
						<q-markdown :src="markdownPage" />
					</div>
				</div>
			</div>
		</div>
		<q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
			<q-btn dense label="위로" color="sand" text-color="tree" size="sm" />
		</q-page-scroller>
	</q-page>
</template>

<style lang="sass" scoped></style>
